version: '2'

services:
  # Discovery Server
  server1:
    image: zhongmingmao/eureka-server:0.0.1-SNAPSHOT
    ports:
      - "9001:9001"
    environment:
      - spring.profiles.active=server1

  server2:
    image: zhongmingmao/eureka-server:0.0.1-SNAPSHOT
    ports:
      - "9002:9002"
    environment:
      - spring.profiles.active=server2

  server3:
    image: zhongmingmao/eureka-server:0.0.1-SNAPSHOT
    ports:
      - "9003:9003"
    environment:
      - spring.profiles.active=server3

  # Micro Service
  user-provider:
    image: zhongmingmao/user-provider:0.0.1-SNAPSHOT

  user-consumer:
    image: zhongmingmao/user-consumer:0.0.1-SNAPSHOT

  # Monitor
  hystrix-dashboard:
    image: zhongmingmao/hystrix-dashboard:0.0.1-SNAPSHOT
    ports:
      - "9200:9200"

  turbine:
    image: zhongmingmao/turbine:0.0.1-SNAPSHOT

  turbine-rabbitmq:
    image: zhongmingmao/turbine-rabbitmq:0.0.1-SNAPSHOT

  # Gateway
  zuul:
    image: zhongmingmao/zuul:0.0.1-SNAPSHOT
    ports:
      - "9300:9300"

  # MQ
  rabbitmq:
    image: rabbitmq:3.6.10-management
    ports:
      - "15672:15672"