server:
  port: 0 # 随机端口
spring:
  application:
    name: user-consumer

eureka:
  client:
    healthcheck:
      enabled: true
    service-url:
      defaultZone: http://zhongmingmao:zhongmingmao@server1:9001/eureka,http://zhongmingmao:zhongmingmao@server2:9002/eureka,http://zhongmingmao:zhongmingmao@server3:9003/eureka

management:
  security:
    enabled: false

info:
  app:
    name: @project.artifactId@
    encoding: @project.build.sourceEncoding@
    java:
      source: @java.version@
      target: @java.version@

# 针对ServiceId配置Ribbon属性
# org.springframework.cloud.netflix.ribbon.PropertiesFactory
user-provider:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule

feign:
  compression:
    request:
      enabled: true
      min-request-size: 2048
      mime-types: text/xml, application/xml, application/json
    response:
      enabled: true
  hystrix:
    enabled: true # 从Dalston版本开始需要显式开启

logging:
  level:
    me.zhongmingmao.feign.UserFeignClient: debug # feign.Logger.Level只对debug级别响应