spring:
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    schema: classpath:/database/schema.sql
    data: classpath:/database/data.sql
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:dev
    username: dev
    password: dev
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true