server:
  port: 0 # 随机端口
  jpa:
    show-sql: true

eureka:
  instance:
    metadata-map: # 自定义元数据
      author: zhongmingmao
      location: Zhongshan,Guangdong,China

management:
  security:
    enabled: false

info:
  app:
    name: @project.artifactId@
    encoding: @project.build.sourceEncoding@
    java:
      source: @java.version@
      target: @java.version@

spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

logging:
  level:
    root: info
    org.springframework.web.servlet.DispatcherServlet: debug
    org.springframework.cloud.sleuth: debug