spring:
  application:
    name: eureka-server
server:
  port: 9000
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false # 不向服务注册中心注册自己
    service-url:
      defaultZone: http://localhost:${server.port}/eureka